<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="protochannel.service-assembly" value="ProtoChannel.HttpProxy" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ProtoHandler" verb="*" path="/pchx/*" type="ProtoChannel.Web.ProtoHandler, ProtoChannel.Web" />
    </handlers>
  </system.webServer>
</configuration>
