<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="protoChannel" type="ProtoChannel.Web.ProtoConfigurationSection, ProtoChannel.Web" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ProtoHandler" verb="*" path="/pchx/*" type="ProtoChannel.Web.ProtoHandler, ProtoChannel.Web" />
    </handlers>
    <httpCompression>
      <dynamicTypes>
        <!-- Required for IE to work -->
        <add mimeType="text/html" enabled="false" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
  <protoChannel serviceAssembly="ProtoChannel.HttpProxy" />
</configuration>
